<div class="costumer-list--container">
	<div class="costumer-list--dash">
		<span class="new-costumer">
			<span class="hint">Add new costumer</span>
			<button mat-fab color="primary" (click)="createCostumer()">
				<mat-icon aria-hidden="false" aria-label="email">add</mat-icon>
			</button>
		</span>
		<mat-accordion>
			<mat-expansion-panel *ngFor="let costumer of costumersList" hideToggle>
				<mat-expansion-panel-header class="costumer-list--header">
					<mat-panel-title> <mat-icon>account_circle</mat-icon> {{ costumer.name }} </mat-panel-title>
					<mat-panel-description>
						Click to see details
					</mat-panel-description>
				</mat-expansion-panel-header>

				<div class="costumer-list--details">
					<div class="details">
						<mat-icon aria-hidden="false" aria-label="email">alternate_email</mat-icon> {{ costumer.email }}
					</div>
					<div class="details">
						<mat-icon aria-hidden="false" aria-label="email">phone</mat-icon> {{ costumer.phone }}
					</div>
					<div class="details">
						<mat-icon aria-hidden="false" aria-label="email">location_city</mat-icon> {{ costumer.address }}
						<div class="address">
							<div>{{ costumer.city }} - {{ costumer.state }}</div>
							<div>{{ costumer.zipcode }}</div>
						</div>
					</div>
				</div>

				<mat-action-row>
					<button mat-button color="warn" (click)="deleteCostumer(costumer.id)">Delete</button>
					<button mat-button color="primary" (click)="editCosutmer(costumer)">Edit</button>
				</mat-action-row>
			</mat-expansion-panel>
		</mat-accordion>
		<div class="empty" *ngIf="costumersList.length === 0">
			<mat-icon aria-hidden="false" aria-label="email">new_releases</mat-icon>
			<div>No costumers registered... Try to add one</div>
		</div>
	</div>
</div>
