.costumer-list {
	&--container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.new-costumer {
			position: absolute;
			right: 0;
			top: -70px;
			color: rgba(0, 0, 0, 0.54);
			.hint {
				opacity: 0;
				margin-right: 8px;
				transition: all ease 0.5s;
			}
			&:hover {
				.hint {
					opacity: 1;
				}
			}
		}
		.empty {
			font-size: 32px;
			text-align: center;
			.mat-icon {
				font-size: 100px;
				color: rgba(0, 0, 0, 0.4);
			}
		}
	}
	&--dash {
		width: 50%;
		margin-top: 100px;
		position: relative;
	}
	&--header {
		.mat-expansion-panel-header-title {
			align-items: center;
			width: 75%;
			.mat-icon {
				margin-right: 8px;
				color: rgba(0, 0, 0, 0.54);
			}
		}
	}
	&--details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		.details {
			padding: 4px 0;
			.address {
				padding-left: 36px;
			}
			.mat-icon {
				margin-right: 8px;
				vertical-align: middle;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.costumer-list {
		&--dash {
			width: 100%;
		}
	}
}
