.costumer-form {
	&--container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 24px;
	}
}

.mat-dialog-content {
	height: 330px;
}

@media screen and (max-width: 600px) {
	.costumer-form {
		&--container {
			grid-column-gap: 8px;
		}
	}
}
