<h1 mat-dialog-title>Costumer</h1>
<div mat-dialog-content>
	<form [formGroup]="costumerForm" (submit)="submitCostumer()">
		<div class="costumer-form--container">
			<mat-form-field>
				<input matInput placeholder="Name" formControlName="name" />
				<mat-error *ngIf="costumerForm.controls['name'].hasError('required')">
					Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Email" formControlName="email" />
				<mat-error *ngIf="costumerForm.controls['email'].hasError('required')">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input mask="000-000-0000" matInput placeholder="Phone" formControlName="phone" />
				<mat-error *ngIf="costumerForm.controls['phone'].hasError('required')">
					Phone is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="costumerForm.controls['phone'].hasError('Mask error')">
					Phone is <strong>invalid</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Address" formControlName="address" />
				<mat-error *ngIf="costumerForm.controls['address'].hasError('required')">
					Address is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="City" formControlName="city" />
				<mat-error *ngIf="costumerForm.controls['city'].hasError('required')">
					City is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="State" formControlName="state" />
				<mat-error *ngIf="costumerForm.controls['state'].hasError('required')">
					State is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input mask="00000" matInput placeholder="Zipcode" formControlName="zipcode" />
				<mat-error *ngIf="costumerForm.controls['zipcode'].hasError('required')">
					Zipcode is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="costumerForm.controls['zipcode'].hasError('Mask error')">
					Zipcode is <strong>invalid</strong>
				</mat-error>
			</mat-form-field>
		</div>
		<div mat-dialog-actions>
			<button mat-button (click)="cancel()">Cancel</button>
			<button mat-button cdkFocusInitial>Ok</button>
		</div>
	</form>
</div>
